@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Space+Grotesk:wght@300..700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #fff;
}

header {
    background: #202020;
    padding: 10px 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    height: 70px;
    margin-left: 20px;
}

header nav ul {
    display: flex;
    list-style: none;
}

header nav ul li {
    margin: 0px 15px;
}

header nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 10px;
}

header nav ul li a:hover {
    color: #202020;
    background: #d4af37;
    border-radius: 5px;
}

.jadwal {
    padding: 20px 10px;
    background: #d4af37;
    display: flex;
    border-radius: 8px;
    flex-direction: column;
    justify-content: center;
}

.jadwal-item {
    margin: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.jadwal-item img {
    max-width: 50px;
    height: auto;
}

.jadwal-item span {
    margin-left: 10px;
    font-weight: bold;
}


.machine-time {
    display: flex;
    align-items: center;
    margin-left: 80px;
    gap: 10px;
}

.container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    overflow: hidden;
    flex-direction: row;
    background: linear-gradient(to bottom, #d4af37,#212121);
}

.image-section {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    flex-direction: column;
}

.carousel {
    display: flex;
    justify-content: start;
    align-items: center;
}

.carousel img {
    margin-left: 80px;
    width: 85%;
    display: none;
    margin-top: 15px;
}

.carousel img.active {
    display: block;
}
.carausel-footer{
    margin-left: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
}
.carausel-footer img{
    border-radius: 20px;
    margin-top: 30px;
    margin-right: 35px;
    width: 150px;
    height: 150px;
}
.carousel-buttons {
    padding: 40px;
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.carousel-buttons button {
    background-color: #D4AF37;
    border-radius: 15px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}


.text-section {
    font-family: mulish;
    font-size: 1.5rem;
    margin-left: auto;
    height: 40%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
}

.title {
    font-family: space grotesk;
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.price {
    font-family: mulish;
    font-size: 2rem;
    color: white;
    margin-bottom: 10px;
}

.description {
    font-family: mulish;
    font-size: 1.5rem;
    margin-bottom: 20px;
    max-width: 70%;
    margin-top: 20px;
}

.benefits {
    font-family: mulish;
    font-size: 2rem;
    font-weight: bold;
    list-style: none;
    margin: 0;
    padding: 0;
}
.benefitss {
    font-family: mulish;
    font-size: 1.5rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.benefits li {
    margin-bottom: 10px;
}
form{
    font-family: mulish;
    width: 100%;
}
form input[type="email"] {
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: white;
    color: gray;
    font-size: 1.5rem;
    margin-top: 10px;
    box-sizing: border-box;
}

form input[type="email"]::placeholder {
    color: gray;
}

.btn-primary {
    font-family: mulish;
    margin-top: 10px;
    padding: 20px;
    width: 100%;
    border-radius: 10px;
    font-size: 1.5rem;
    color: white;
    background-color: #D4AF37;
    border: none;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #D4AF37;
}
.footer {
    background: linear-gradient(to bottom, #202020,#d4af37);
    color: white;
    padding: 30px 20px 60px;
    font-family: Arial, sans-serif;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    gap: 20px;
}


.footer-left {
    flex: 1;
}

.footer-logo {
    width: 60px;
    margin-bottom: 10px;
}

.footer-left p {
    margin: 5px 0;
    line-height: 1.5;
}

.subscribe-box {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.subscribe-box input {
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
    flex: 1;
}

.subscribe-box button {
    padding: 10px 15px;
    border: none;
    background: #d4af37;
    color: black;
    font-size: 16px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}


.footer-right {
    flex: 1;
    text-align: right;
}

.footer-right h4 {
    font-family: Mulish;
    font-size: 24px;
    text-align: center  ;
    margin-bottom: 10px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.social-icons a img {
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background: 212121;
    padding: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}